.titre {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(59, 59, 248);
  span {
    //border: 1px solid black;
    padding: 5px;
  }
}

ion-label {
  text-transform: uppercase;
  font-size: 8px;
}
.label {
  text-transform: uppercase;
  font-size: 10px;
}
